LANGCHAIN_TRACING_V2 = 'true'
LANGCHAIN_ENDPOINT = 'https://api.smith.langchain.com'
LANGCHAIN_API_KEY = "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"
OPENAI_API_KEY = "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"
WEAVIATE_API_KEY = "27OsOVzsHKSCK5W475c38Na6ach3EjcXmjSz"
WEAVIATE_URL = "https://zwvqnui7tm20gsxwwzumq.c0.asia-southeast1.gcp.weaviate.cloud"
GOOGLE_API_KEY = "AIzaSyCOKuq7Je-DTmvjlGG-LsS9ihRrUp_kWo4"